/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/

.content-table>div:first-child>div:first-child>h2:first-child {
  margin-top: 0;
}

#me {
  width: 180px;
  border-radius: 50%;
}

.flex-item-stretch-6 {
  flex: 1 auto;
}

.max-width-600 {
  max-width: 900px;
}

@media screen and (min-width: 900px) {
  .flex-item-stretch-6 {
    flex: 5.5;
  }
}